.container {
  width: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



/*///////////////////////////////////////////////////////////////////////////////////////*/
#bgHeadCard{
  background-color: rgb(255, 191, 0,  0.8);
}

#bgBodyCard{
  background-color: rgba(43, 43, 43, 0.9);
  margin-left: 0px;
  
}

.btn1{
  margin-right:60%;
}

#leftBox{

}

#rightBox{
  
  height: 450px;
}

.sideBtn{
  color:red;
}

#fontSize{
  font-size: 20px;
}